.input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.number-format-input {
  width: 100%;
  box-sizing: border-box;
  direction: rtl;
  border: 1px solid gray;
  border-radius: 5px;
}
.number-format-input::placeholder {
  width: 100%;
  box-sizing: border-box;
  text-align: right;
}

.prefix {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  pointer-events: none;
  margin-right: 2%;
  background-color: transparent;
}
.postfix {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 2%;
  transform: translateY(-50%);
  pointer-events: none;
  background-color: transparent;
}
